<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f202766429.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/style.css">
    <title>test Io</title>
</head>
<body>
    <nav id="topMenu">
        <div>
            <a href="/">Home</a>
            {{#if user}}
            <a href="/dashboard">Dashboard</a>
            {{/if}}
        </div>
        
        <a href="/">
            <img id="ositrade-logo" src="/images/testio.png" alt="" srcset="">
        </a>
        <div id="one">
            <p>
             <span id="greeting">Welcome,</span>  {{user.firstName}} 
            </p>
            {{#if user}}
            <i id="user" class="fa fa-user mr-3"></i>
            {{/if}}
        </div>
        <nav id="nav-profile">
            <a href="/users/profile">Profile</a>
            <a href="/users/logout">Logout</a>
        </nav>
    </nav>
    {{#if success_msg}}
            <div>{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
            <div> yes error_msg {{error_msg}}</div>
    {{/if}}
    {{#if error}}
            <div> yes error{{error}}</div>
    {{/if}}
    {{{body}}}
    <script src="/js/index.js"></script>
</body>
</html>